
body{
    background-color: #dc3545!important;
}

.color{
    background: whitesmoke!important;
}

.btn-all{
    margin-bottom: 2%;
    margin-top: 2%;
}

.row-date {
    margin-left:0px!important;
    margin-right: 0px!important;
}

.card {
    display: inline-block!important;
    text-align: center;
}

.title_img {
    text-align: center;
    font-family: sans-serif;
}


